/*

*.* main.css

*	Author: Virgilio Cometa

*/

@media all {

	.page {
		
		position: relative;
	
		margin: 0;
		
		padding: 0;
		
		font: 14px arial;
		
		color: #000;
	
	}
	
	.page header,
	.page footer,
	.page article{
	
		display: block;
		
		clear: both;
		
		width: 100%;	
		
		margin: 0 auto;
		
		overflow: hidden;
	
	}
	
	.page footer ul,
	
	.page header ul{
	
		display:block;
		
		margin: 0 auto;
		
		padding: 0;
		
		max-width: 1024px;
	
	}
	
	.page footer ul li,
	
	.page header ul li {
		
		list-style: none;
		
		float: left;
		
		margin: 0;
		
		color: #fff;
		
		font: bold 14px verdana;
		
	
	}
	
	.page footer ul li a,
	
	.page header ul li a {
	
		display: block;
	
		color: #fff;
		
		padding: 5px 10px;
		
		text-decoration: none;
		
		cursor: pointer;
	
	}
	
	.page header ul li a:hover,
	
	.page header ul li a.active {
	
		background: #666;
	
	}
	
	.page footer ul li a:hover,
	
	.page footer ul li a.active {
	
		background: #000;
	
	}
	
	.page header {
	
		position: fixed;
		
		top: 0;
		
		z-index:999999;
	
		background: #000;
	
	}
	
	.page footer {
	
		position:fixed;
		
		bottom: 0;
	
		background: #666;
	
	}
	
	.page .main-body {
	
		display: block;
		
		position: relative;
		
		top: 20px;
		
		width: 100%;
		
		max-width: 1024px;
		
		margin: 0 auto;
	
	}
	
	.page .main-article {
	
		display: block;
		
		position: relative;
		
		float: left;
	
		width: 70%;
		
		height: 100%;
		
		background: #fff;
	
	}
	
	.page .right-rail {
	
		display: block;
		
		position: relative;
		
		float: left;
	
		width: 30%;
		
		min-width: 300px;
		
		height: 100%;
		
		background: #999;
	
	}

}