@media all{
	/* {
	  -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
			  box-sizing: border-box;
	}*/
	
	html, html a {
	
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	}

	/* inherit height from window */
	html, body { height: 100%; }
	.error {color: #FF0000;}
	body{
		font-size: 16px ;
		font-family: Arial, Helvetica, sans-serif;
		color: #000;
		margin:0;
		padding: 0;
		background:#fff;
	}
	
	h1,h2,h3,h4,h5,h6{
		display:block;
		margin:0;
		padding:0;
		font-weight:normal;
	}
	h2{
		font-size:20px;
	}
	article{
		display:block;
	}
	a{
		text-decoration:none;
		color:#000;
	}
	a:hover{
		text-decoration:underline;
		color:#666;
	}
	.disableOverflow{
		overflow:hidden;
	}
	.content {
		position:relative;
		margin: 45px auto 0;		
		width:98%;
		padding: 0;
		height: 100%;
		overflow:visible;
	}
	.content:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	.story .content{
		padding: 20px;
	}
	header {
		position:fixed;
		top:0;
		z-index:999;
		width: 100%;
		margin: 0 auto 20px;
		background: none;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	footer{
		position:relative;
		clear:both;
		display:block;
		z-index:999;
		font-size:11px;
		text-align:center;
		padding: 5px 0;
		width:100%;
		height: 30px;
	}
	footer img{
		float:left;
	}
	nav{
		display:inline-block;
		margin:0 auto;
		width:auto;
	}
	nav ul {
		margin: 0 auto;
		padding: 0;
	}
	nav ul li{
		list-style:none;
		float: left;			
		border:1px solid #cfcfcf;
		border-width:0 1px 1px 0;
		background:#fff;		
	}
	nav ul li:first-child{
		border-left-width:1px;
	}
	nav ul li a{
		display:block;
		color: #4774CF;
		font-size: 14px;
		font-weight:bold;
		text-decoration: none;
		text-transform: uppercase;
		font-family:Tahoma, Geneva, sans-serif;
		padding: 10px 15px;	
		height:24px;
	}
	nav ul li a.selected,
	nav ul li a:hover{
		background:#4774CF;
		color:#fff;
		text-decoration:none;
	}

	footer nav ul li a{
		color:#333;
	}
	figure{
		margin:0;
		display:block;
		clear:both;
		overflow:hidden;
	}
	.logo-small{
		float:left;
	}
	.slideIn_hdr{
		display: inline-block;
		width: 79.4%;
		height:45px;
		background:#fff;
		overflow:hidden;
		padding:0;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.slideIn_hdr nav{
		display:block;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.slideIn_hdr.hidden{
		width:105px;
	}
	.slideIn_hdr.hidden nav{
		display:none;
	}
	.slideIn_hdr span{
		background:#fff url(../images/hamburger-sprite.png) 0 2px no-repeat;
		width:44px;
		height:45px;
		cursor:pointer;
		float:right;
		border:1px solid #cfcfcf;
		border-width: 0 1px 1px 0;
	}
	.slideIn_hdr span:hover{
		background-position: 0 -46px;
	}
	.ablock{
		background: #fff;
		border: 0 none;
		border-radius:0;
		color: #666;
		cursor: pointer;
		display: block;
		float: left;
		height: 250px;
		margin: 20px 15px;
		opacity: 1;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-decoration: none;
		width: 202px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}	
	.caption-block{
		position:absolute;
		bottom:0;
		background:#fff;
		color: #666;
		padding: 5px 10px 10px;
		width: 91%;
	}
	
	.ablock.active{
		width: 62%;
		z-index:2;
		position:absolute;
		top:0;
	}
	
	.ablock.latest figure{
		height:auto;
		text-align:center;
	}
	.ablock img {
		width:100%;
		min-width:200px;
		display:block;
		margin:0 auto;
	}
	.ablock p{
		display:block;
		margin:0;
		padding:10px 0 0;
	}
	.ablock h2{		
		background: transparent;
		color: #333;
		font-size: 12px;
		font-weight: bold;
		padding: 0;
		width: 100%;
	}
	/*
	.ablock.technology h2,
	.ablock.science h2{
		background:#6699cc;
	}
	.ablock.lifestyle h2{
		background:#cdb769;
	}
	.ablock.money h2{
		background:#98c17f;
	}
	.ablock.animals h2{
		background:#733438;
	}
	.ablock.health h2{
		background:#788eb0;
	}
	.ablock.autos h2{
		background:#b1062e;
	}*/
	.byline{
		font-size:11px;
	}
	.dateline{
		font-size:11px;
	}
	.source{
		font-size:11px;
	}
	.article-modal{
		position:absolute;
		display:none;
		z-index:2147483647;
		background:#fff;
		box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
		overflow:auto;
		padding:10px;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}
	.article-modal.active{
		display:block;
	}
	.article-modal .modal-content{
		height:100%;
		width:100%;
	}
	.modal-overlay {
		display:block;
		opacity:0;
		background:rgba(0,0,0,0.4);
		position:absolute;
		z-index:2147483646;
		width:100%;
		height:100%;
		-webkit-transition: all 2s ease-in-out;
		-moz-transition: all 2s ease-in-out;
		-o-transition: all 2s ease-in-out;
		transition: all 2s ease-in-out;
	}
	.modal-overlay.active{
		opacity:1;
	}
	.modal-close {
		position:absolute;
		top:10px;
		left:10px;
		background: transparent url(../images/close.png) 0 0 no-repeat;
		width:25px;
		height:25px;
		cursor:pointer;
		border:0;
		z-index:2147483647;
	}
	#sizeindicator{
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
		height:40px;
		background:blue;
		text-align:center;
		font-weight:bold;
		line-height:40px;
		color:#fff;
		z-index:999999999;
	}
	.tags{
		font-size:12px;
		font-weight:bold;
		padding:10px;
		width:100%;
		height:auto;
		border-top:1px solid #ccc;
		background:#eee;
		margin:10px 0 20px;
	}
	.modal-content .content h1{
		margin: 0 0 20px;
	}
	.modal-content .content h2{
		margin: 15px 0;
	}
	.modal-content .content article{
		margin: 15px 0;
	}

}

@media all and (min-width: 1024px) {
	#sizeindicator{
		background:red;
	}
	.content {
		
	}
}
@media all and (max-width: 768px) {
	#sizeindicator{
		background:brown;
	}
}
@media all and (max-width: 600px) {
	#sizeindicator{
		background:gray;
	}
}
@media all and (max-width: 480px) {
	#sizeindicator{
		background:block;
	}
}