@media all{
	/* {
	  -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
			  box-sizing: border-box;
	}*/
	
	html, html a {
	
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased !important;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	}
	
	/* inherit height from window */
	html, body { height: 100%; }
	.error {color: #FF0000;}
	body{
		font-size: 16px ;
		font-family: Arial, Helvetica, sans-serif;
		color: #000;
		margin:0;
		padding: 0;
		background:#fff;
	}
	
	h1,h2,h3,h4,h5,h6{
		display:block;
		margin:0;
		padding:0;
		font-weight:normal;
	}
	h2{
		font-size:20px;
	}
	article{
		display:block;
	}
	a{
		text-decoration:none;
		color:#000;
	}
	a:hover{
		text-decoration:underline;
		color:#666;
	}
	.disableOverflow{
		overflow:hidden;
	}
	.content {
		position:relative;
		margin: 38px auto 0;		
		width:100%;
		max-width: 1200px;
		padding: 0;
		height: 100%;
		overflow:visible;
	}
	.content:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	
	header {
		position:relative;
		top:0;
		background:#a8adb4;
		z-index:999;
		width: 100%;
		margin: 0 auto 20px;
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.6);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	footer{
		position:relative;
		bottom:0;
		background:#fff;
		clear:both;
		display:block;
		z-index:999;
		font-size:11px;
		text-align:center;
		padding: 5px 0;
		width:100%;
		height: 30px;
	}
	footer img{
		float:left;
	}
	
	nav{
		display:block;
		clear:both;
		margin:0 auto;
		width:auto;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	nav ul {
		margin: 0 auto;
		padding: 0;
		clear:both;
		background:#fff;
	}
	nav ul li{
		display:block;
		list-style:none;
		float:left;		
	}
	nav ul li:first-child{
		/*border-left:1px solid #cfcfcf;*/
	}
	nav ul li a{
		display:block;
		color: #2c464f;
		font-family:Jura;
		font-size:14px;
		font-weight:bold;
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px 15px;	
		height:18px;
		line-height:18px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;	
	}
	
	nav ul li a:hover{
		background:#688fad;
		color:#fff;
		text-decoration:none;
	}
	
	nav ul li a.selected{
		background:#8cc152;
		color:#fff;
		text-decoration:none;	
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.6);
	}

	footer nav ul li a{
		color:#333;
	}
	figure{
		margin:0;
		display:block;
		clear:both;
		overflow:hidden;
		width:100%;
	}
	figure img{
		width:100%;
		height:auto;
	}
	
	.page figure{
		max-height:480px;
	}
	/*
	.page{
		display:block;
		width:100%;
		max-width:1200px;
		margin:0 auto;
		background:#fff;
	}
	
	.page header{
		position:absolute;
	}
	.page footer{
		clear:both;
		position:relative;
	}
	.page h1,
	.page h2{
		margin:20px 0;
	}*/
	.page .right-rail{
		width:30%;
		max-width:300px;
		height:100%;
		padding:10px;
		float:right;
		background:#eee;
	}
	.page .left-rail{
		width:72%;
		float:left;
	}
	
	.feature-box{
		width:100%;
		height:480px;
		background:#eaeaea url(../images/photos/bgd.jpg) center center no-repeat;
		overflow:hidden;
	}
	
	.feature-box .content{
		float: right;
		margin: 0 1% 0 0;
		padding: 0 3%;
		width: 60%
	}
	
	.fixed{
		position:fixed;
		z-index:999;
	}
	.tag-block{		
		background:transparent;		
		display:block;
		float:right;
		font-size:20px;
		font-family: Michroma;	
		text-transform:capitalize;
		text-align:center;
		white-space: nowrap;
		color:#666;
		padding:5px 10px;
		border-radius:5px;
		margin:5px 10px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;		
	}
	.tag-block.selected{
		color:#fff;
		background: rgba(239,62,91, 0.3);
		box-shadow: inset 0 0 8px rgba(239, 62, 91, 0.9);
	}
	.tag-block:hover{
		color:#ef3e5b;
		box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
	}

	.story .content{
		margin:0 auto;
	}
	
	.story h1{
		margin: 20px 0;
	}
	.story h2{
		margin: 20px 0;
	}
	.story .tags{
		background:#ccc;
		margin:20px auto 40px;
		width:100%;
	}
	.story article{
		margin:20px auto 0;
	}
	.logo,
	.logo-small{
		margin: 5px 0 0 10px;
	}
	.slideIn_hdr{
		display: block;
		width: 100%;
		overflow:hidden;
		padding:0;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.slideIn_hdr nav{
		display:block;		
		margin:0 auto;
		max-width:1200px;
		overflow:hidden;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.slideIn_hdr.hidden{
		-webkit-transform:translateX(-300px);
		-moz-transform:translateX(-300px);
		-ms-transform:translateX(-300px);
		-o-transform:translateX(-300px);
		transform:translateX(-300px);
	}
	.slideIn_hdr.hidden nav{
		height:0;
		box-shadow: none;
	}/*
	.slideIn_hdr span{
		background:#FEA134 url(../images/hamburger-sprite.png) 0 -93px no-repeat;
		width:44px;
		height:44px;
		cursor:pointer;
		float:right;
		margin: 0;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
	}
	.slideIn_hdr.hidden  span{
		background-position: 0 0;
		background-color:#fff;
		box-shadow: none;
		margin: 8px 0 0;
	}
	.slideIn_hdr.hidden span:hover{
		background-position: 0 -46px;
	}
	.slideIn_hdr span:hover{
		background-position: 0 -138px;
	}*/
	.ablock{
		float:left;
		background: #fff;
		border: 0 none;
		border-radius:0;
		color: #666;
		cursor: pointer;
		display: block;
		margin: 20px 1%;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-decoration: none;
		width: 48%;
		height:225px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	/*.ablock.latest{
		float:left;
		width:58%;
	}*/
	.caption-block{
		position:relative;
		float:right;
		bottom:0;
		background:#fff;
		color: #666;
		padding: 5px 1% 10px;
		width: 44%;
	}
	/*
	.ablock.latest .caption-block{
		width: 65%;
	}*/
	
	.ablock.active{
		width: 62%;
		z-index:2;
		position:absolute;
		top:0;
	}
	
	.ablock  figure{
		height:225px;
		width:52%;
		text-align:center;
		float:left;
	}
	/*.ablock.latest figure{
		height: auto;
	}*/
	.ablock img {
		width:auto;
		height:auto;
		min-height:225px;
		display:block;
		margin:0 auto;
	}
	.ablock p{
		display: block;
		font-size: 14px;
		line-height: 18px;
		margin: 0;
		padding: 10px 0 0;
	}
	.ablock h2{		
		background: transparent;
		color: #000;
		font-size: 20px;
		font-weight: normal;
		font-family: Georgia,Times,Times New Roman,serif;
		padding: 0;
		width: 100%;
		margin: 0;
	}
	/*
	.ablock.technology h2,
	.ablock.science h2{
		background:#6699cc;
	}
	.ablock.lifestyle h2{
		background:#cdb769;
	}
	.ablock.money h2{
		background:#98c17f;
	}
	.ablock.animals h2{
		background:#733438;
	}
	.ablock.health h2{
		background:#788eb0;
	}
	.ablock.autos h2{
		background:#b1062e;
	}*/
	.byline,
	.dateline,
	.source{
		font-size:11px;
		color:#999;
	}
	.article-modal{
		position:absolute;
		display:none;
		z-index:2147483647;
		background:#fff;
		box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
		overflow:auto;
		padding:10px;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}
	.article-modal.active{
		display:block;
	}
	.article-modal .modal-content{
		height:100%;
		width:100%;
	}
	.modal-overlay {
		display:block;
		opacity:0;
		background:rgba(0,0,0,0.4);
		position:absolute;
		z-index:2147483646;
		width:100%;
		height:100%;
		-webkit-transition: all 2s ease-in-out;
		-moz-transition: all 2s ease-in-out;
		-o-transition: all 2s ease-in-out;
		transition: all 2s ease-in-out;
	}
	.modal-overlay.active{
		opacity:1;
	}
	.modal-close {
		position:absolute;
		top:10px;
		left:10px;
		background: transparent url(../images/close.png) 0 0 no-repeat;
		width:25px;
		height:25px;
		cursor:pointer;
		border:0;
		z-index:2147483647;
	}
	#sizeindicator{
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
		height:40px;
		background:blue;
		text-align:center;
		font-weight:bold;
		line-height:40px;
		color:#fff;
		z-index:999999999;
	}
	.tags{
		font-size:12px;
		font-weight:bold;
		padding:10px;
		width:95%;
		height:auto;
		background:#2c464f;
		margin:10px 0 20px;
	}
	.topic-tag{
		position:relative;
		float:right;
		z-index:999;
		display:inline-block;
		width:auto;
		padding:10px 20px;
		background:#c3c8cd;
		color:#3a3a3a;
		font-family:Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
		font-size:14px;
		font-weight:bold;
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.6);
		text-transform:uppercase;
	}
	.tags a{
		color:#fff;
		font-family:Jura;
	}
	.tags a.selected,
	.tags a:hover{
		color:#ef3e5b;
		text-decoration:underline;
	}
	.modal-content .content h1{
		margin: 0 0 20px;
	}
	.modal-content .content h2{
		margin: 15px 0;
	}
	.modal-content .content article{
		margin: 15px 0;
	}
	
	.fb_iframe_widget{
		display:block !important;
	}
	

}

@media all and (min-width: 1024px) {
	#sizeindicator{
		background:red;
	}
	.content {
		
	}
}
@media all and (max-width: 768px) {
	#sizeindicator{
		background:brown;
	}
}
@media all and (max-width: 600px) {
	#sizeindicator{
		background:gray;
	}
}
@media all and (max-width: 480px) {
	#sizeindicator{
		background:block;
	}
}