/*

*.* main.css

*	Author: Virgilio Cometa

*/

@media all {

	.page {
	
		position: relative;
		
		font: 14px Helvetica;
		
		margin: 0 auto;
		
		padding: 0;
	
	}
	
	.page header {
	
		position: fixed;
		
		top: 0;
		
		left: 0;
				
		height: 100%;		

	
	}
	
	.page header h2 {
	
		position: relative;
		
		z-index:999;
	
		float: left;
		
		color: #fff;
		
		font-size: 34px;
	
		margin: 0;
		
		padding: 5px 10px 0;
		
		cursor: pointer;
		
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	
	}
	
	.page header h2.active {
			
		color: #3f4a52;
	
	}
	
	.page header .tag-line{
	
		float: left;
	
		padding: 15px;
		
		margin: 0;
		
		font: normal 16px verdana;
	
	}
	
	.page header ul.navigation {
	
		position: absolute;
		
		left: -240px;
		
		top: 0px;
		
		z-index: 998;
	
		clear: both;
	
		display: block;
	
		list-style: none;
		
		padding: 50px 0 0;
		
		margin: 0;
		
		width: 240px;
		
		height: 100%;
		
		background: #eee;
		
		border-right: 1px solid #666;
		
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
		
		-moz-box-shadow: -8px -8px 8px 3px rgba(0,0,0,0.5) inset;
		-webkit-box-shadow: -8px -8px 8px 3px rgba(0,0,0,0.5) inset;
		box-shadow: -8px -8px 8px 3px rgba(0,0,0,0.5) inset;
	
	}
	
	.page header ul.navigation li a {
	
		display: block;
		
		color: #000;
		
		text-decoration: none;
		
		width: auto;
		
		padding: 10px 20px;
		
		outline: none;
		
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	
	}
	
	.page header ul.navigation li a:hover {
	
		background: #eee;		
		background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(135deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		color: #ffd200;
	
	}
	
	.page header ul.navigation li a.active  {
	
		background: -moz-linear-gradient(left,  rgba(46,155,240,0.65) 0%, rgba(238,238,238,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(46,155,240,0.65)), color-stop(100%,rgba(238,238,238,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(46,155,240,0.65) 0%,rgba(238,238,238,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(46,155,240,0.65) 0%,rgba(238,238,238,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(46,155,240,0.65) 0%,rgba(238,238,238,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(46,155,240,0.65) 0%,rgba(238,238,238,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62e9bf0', endColorstr='#00eeeeee',GradientType=1 ); /* IE6-9 */


		font-weight: bold;
		
		color: #036;
	
	}
	
	.page footer {
	
		clear: both;
	
		display: block;
		
		position: relative;
		
		z-index: 9999;
		
		overflow: hidden;
		
		background: #101e28;
		
		padding: 10px;
		
		width: 98.75%;
		
		min-height: 50px;
		
		border-top: 1px solid #aaa;
		
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	
	}
	
	.page footer ul {
	
		display: block;
	
		list-style: none;
		
		margin: 15px auto 0;
		
		padding: 0;
		
		width: auto;
	
	}
	
	.page footer ul li {
	
		float: left;
		
	}
	
	.page footer ul li a {
	
		padding:5px 15px;
		
		color: #47525a;
		
		font-weight: bold;
		
		text-decoration: none;
		
	}
	
	.page .main-body {
	
		position: relative;
		
		clear: both;
	
		width: auto;
		
		margin: 38px 0 0;
		
		overflow: hidden;
	
	}
	
	.page .main-body  .main-article{
	
		float: left;
		
		width: 79%;
		
		padding: 0 10px;
		
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	
	}
	
	.page .main-body  .sub-head {
	
		position: fixed;
		
		top: 0;
		
		left: 0;
		
		z-index: 99;
	
		background: #3f4a52;

		height: 38px;
		
		width: 100%;
	
	}
	
	.page .main-body  .right-rail{
	
		float: left;
		
		width: 18%;
		
		padding: 0 10px;
		
		max-width: 300px;
	
	}
	
	.page .hidden {
	
		display: none;
	
	}
	
	.page .show {
	
		display: block;
	
	}
	
	

}

@media (min-width: 768px) and (max-width:4000px) {

	
}

@media (max-width: 767px) {
	
	
	
}