/*

*.* main.css

*	Author: Virgilio Cometa

*/

@media all {

	.page {
		
		position: relative;
	
		margin: 0;
		
		padding: 0;
		
		font: 14px arial;
		
		color: #000;
	
	}
	
	.page header,
	.page footer,
	.page article{
	
		display: block;
		
		clear: both;
		
		width: 100%;	
		
		margin: 0 auto;
		
		overflow: hidden;
	
	}
	
	.page footer ul ,
	
	.page header ul {
	
		display:block;
		
		margin: -10px auto 0;
		
		padding: 0;
		
		max-width: 1024px;
	
	}
	
	.page footer ul {
			
		margin: 0 auto;
	
	}
	
	.page footer ul li,
	
	.page header ul li {
		
		list-style: none;
		
		float: left;
		
		margin: 0;
		
		color: #fff;
		
		font: normal 14px helvetica;
		
	
	}
	
	.page footer ul li a,
	
	.page header ul li a {
	
		display: block;
	
		color: #fff;
		
		padding: 10px 15px;
		
		text-decoration: none;
		
		cursor: pointer;
		
		border-top: 5px groove transparent;
		
		margin: 5px 0 0;
		
		-moz-transition-property: background;  /* FF4+ */
		-moz-transition-duration: 0.8s;
		-webkit-transition-property: background;  /* Saf3.2+, Chrome */
		-webkit-transition-duration: 0.8s;
		-o-transition-property: background;  /* Opera 10.5+ */
		-o-transition-duration: 0.8s;
		-ms-transition-property: background;  /* IE10? */
		-ms-transition-duration: 0.8s;
		transition-property: background;  /* Standard */
		transition-duration: 0.8s;
	
	}
	
	.page header ul li a:hover {
	
		background: #d7d9da;
		
		color: #273138;
		
		border-top: 5px solid #666;
	
	}
	
	.page header ul li a.active {
	
		background: #273138;
		
		color: #fff;
		
		border-top: 5px solid #30beda;
	
	}
	
	.page footer ul li a:hover,
	
	.page footer ul li a.active {
	
		background: #fff;
	
	}
	
	.page header {
	
		position: fixed;
		
		top: 0;
		
		z-index:999999;
	
		background: #4b5c66;
		
		border-bottom: 1px dotted #fff;
		
		border-top: 5px solid #273138;
		
		letter-spacing: 1px;
		
		margin: 0px auto 0;
		
		overflow: visible;		
	
	}
	
	.page header h2 {
	
		display: none;
		
		cursor: pointer;
		
		margin: 5px 10px;
		
		padding: 0;
		
	}
	
	.page header .navigation {
	
		display:block;
	
	}
	
	.page footer {
	
		position:relative;
		
		bottom: 0;
	
		background: #666;
		
		max-width: 1024px;
		
		margin: 20px auto 0;
	
	}
	
	.page .main-body {
	
		display: block;
		
		position: relative;
		
		padding: 40px 0 0;
		
		width: 100%;
		
		max-width: 1024px;
		
		margin: 0 auto;
		
		background: #fff;
	
	}
	
	.page .main-article {
	
		display: block;
		
		position: relative;
		
		float: left;
	
		width: auto;
		
		height: 100%;
		
		background: #eee;
		
		padding: 10px;
	
	}
	
	.page .right-rail {
	
		display: block;
		
		position: relative;
		
		float: left;
	
		width: 300px;
		
		padding: 10px;
		
		height: 100%;
		
		background: #999;
	
	}
	
	.page .main-list {
		
		list-style: none;
		
		padding: 0;
		
		margin: 0;		
	
	}
	
	.page .main-list li {
	
		padding: 5px;
	
	}
	
	.page .hidden {
		
		display: none;
	
	}
	
	.page .show {
		
		display: block;
	
	}
	
	.logWindow {
	
		display: none;
	
		position: fixed;
		
		z-index:9999999;
		
		top:0;
		
		left: 0;
		
		width:100px;
		
		height: 20px;
		
		background: blue;
		
		color: #fff;
		
		padding: 10px;
	
	}

}

@media (min-width: 768px) and (max-width:4000px) {

	.page header .navigation {
	
		display:block !important;
	
	}
}

@media (max-width: 767px) {
	
	.page .main-article ,
	
	.page .right-rail {
	
		width: 100%;
		
		padding: 0;
	
	}
	
	.page .main-body  {
	
		width: 96%;
	
		padding: 40px 2%;
	
	}
	
	.page header,
	.page footer {
		
		margin: 0 auto;
	
	}
	
	.page header .navigation {
	
		display: none;
		
		margin: 0 auto;
	
	}
	
	.page header ul li {
	
		float: none;
	
	}
	
	.page header h2 {
	
		display:block;
		
	}
	
}