/*

*.* main.css

*	Author: Virgilio Cometa

*/

@media all {

	.page {
	
		position: relative;
		
		font: 14px Helvetica;
		
		margin: 0 auto;
		
		padding: 0;
		
		max-width: 1024px;
	
	}
	
	.page header {
	
		position: fixed;
		
		top: 0;
		
		left: 0;
		
		z-index:999;
		
		height: 100%;
	
	}
	
	.page header h2 {
	
		position: relative;
		
		z-index:999;
	
		float: left;
	
		margin: 0;
		
		padding: 10px;
		
		cursor: pointer;
		
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	
	}
	
	.page header h2.active {
			
		color: #fff;
	
	}
	
	.page header .tag-line{
	
		float: left;
	
		padding: 15px;
		
		margin: 0;
		
		font: normal 16px verdana;
	
	}
	
	.page header ul.navigation {
	
		position: absolute;
		
		left: -213px;
		
		top: 0px;
	
		clear: both;
	
		display: block;
	
		list-style: none;
		
		padding: 38px 0 0;
		
		margin: 0;
		
		width: 213px;
		
		height: 100%;
		
		background: #4b5c66;
		
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	
	}
	
	.page header ul.navigation li a {
	
		display: block;
		
		color: #fff;
		
		text-decoration: none;
		
		width: auto;
		
		padding: 10px 20px;
		
		outline: none;
		
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	
	}
	
	.page header ul.navigation li a:hover {
	
		background: #eee;
		
		color: #4b5c66;
	
	}
	
	.page header ul.navigation li a.active  {
	
		background: #333;
		
		color: #fff;
	
	}
	
	.page footer {
	
		display: block;
		
		position: relative;
		
		overflow: hidden;
	
	}
	
	.page footer ul {
	
		display: block;
	
		list-style: none;
		
		margin: 0 auto;
		
		padding: 0;
		
		width: auto;
	
	}
	
	.page footer ul li {
	
		float: left;
		
	}
	
	.page footer ul li a {
	
		padding:5px 15px;
		
	}
	
	.page .main-body {
	
		position: relative;
		
		clear: both;
	
		width: auto;
		
		margin: 60px 10px 0;
		
		overflow: hidden;
	
	}
	
	.page .main-body  .main-article{
	
		float: left;
		
		width: 79%;
		
		margin: 0 1% 0 0;
	
	}
	
	.page .main-body  .right-rail{
	
		float: left;
		
		width: 18%;
		
		margin: 0 10px;
		
		max-width: 300px;
	
	}
	
	.page .hidden {
	
		display: none;
	
	}
	
	.page .show {
	
		display: block;
	
	}
	
	

}

@media (min-width: 768px) and (max-width:4000px) {

	
}

@media (max-width: 767px) {
	
	
	
}